# App
# - Dev local : APP_URL=http://localhost:8080
# - Production : APP_URL=https://upcycleconnect.xyz
APP_URL=https://upcycleconnect.xyz
APP_PORT=
APP_KEY=

# Logs
LOG_LEVEL=error

# Bdd
DB_ROOT_PASSWORD=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# Serveur mail (OVH)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
MAIL_FROM=

# Api societe.com
SOCIETE_API_KEY=C

# Stripe
STRIPE_KEY=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=

# Frontend
VITE_API_BASE_URL=/api/admin/v1
