# Secrets & Config
.env
.env.local
.env.*.local
.env.backup
.env.production

# Scripts avec secrets inline (deploy / build / lancement local)
upcyclevps
upcyclemacos
upcyclelocal

# Front
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/*.log

# Back
backend/server
backend/*.exe
backend/tmp/

# Uploads
uploads/

# Bdd
upcycleconnect.sql
database/init/*.sql

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
.fleet/
*.swp
*.swo

# Docker
docker-compose.override.yml
